.carrito {
    display: flex;
    justify-content: center;
    background-color: #eeee;
    padding: 20px;
    text-align: center;
}

.cardcarrito {
    @include flex(column, center, 35%, none, 15px, #fafafaee);
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px 40px;
    padding: 20px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    img {
        @include img(65%, 70%, cover, 15px);
    }    
    h2 h3 {
        font-size: 20px;
        margin: 30px;
        text-align: center;
        color: #414141;
    }
}


