.carrusel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #eeee;
    width: 80%;
    margin-top: 20px;  
}

.carruel

.banner {
    display: flex;
    margin: 0px;
    background-color: #ffffff;
    padding: 20px 0px;   
}

.logo {
    display: inline-flex;
    justify-content: center;
    width: 100%;

    img {
        display: inline-flex;
        align-self: center;
        width: 50%; 
    }
    div {
        width: 50%;
        text-align: left;
    }
}

.descripcion {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 30px;
    margin-top: 30px;
}

.descripcioncards {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
}

.cardscategorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 450px;
    margin-top: 50px;
}

.card_body2 {
    @include flex(column, center, 20%, 420px, 20px, #fafafaee);
    gap: 5px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    img {
        @include img(80%, 60%, cover, 15px);
    }
    h2 {
        font-size: 17px;
        color: #414141;
    }
    h3 {
        font-size: 15px;
        color: #414141;
    }

}
