.footer-body {
    background-color: aqua;
    padding-top: 30px;
}

.texto-footer {
    padding-left: 30px;
    h2 {
        font-size: 20px;
        color: #000000;
    }
}


.icon-footer {
    font-size: 25px;
    padding: 10px;
    color: #4b4b4b;
}

.contacto-footer {
    padding-right: 30px;
}
