@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*  {
    margin: 0;
    padding: 0;
}

h1 {
    color: #414141;
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

h2 {
    color: #414141;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

h3 {
    color: #414141;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

h4 {
    color: #414141;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

h5 {
    color: #414141;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
main {
    background-color: #eeeeee;
    text-align: center;
    padding-top: 59px;
}